__pycache__/exceptions.cpython-312.pyc
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/book.cpython-312.pyc
models/__pycache__/user.cpython-312.pyc
services/__pycache__/__init__.cpython-312.pyc
services/__pycache__/authorisation_service.cpython-312.pyc
services/__pycache__/book_service.cpython-312.pyc
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/test_authorisation_service.cpython-312.pyc
tests/__pycache__/test_book_service.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/test_loan_service.cpython-312.pyc
utils/__pycache__/validators.cpython-312.pyc
tests/__init__.py
utils/__pycache__/config.cpython-312.pyc
tests/__pycache__/test_json_files_sevice.cpython-312.pyc
database/__pycache__/database_schemes.cpython-312.pyc
database/__pycache__/json_files_major_services.cpython-312.pyc
tests/__pycache__/test_json_files_service.cpython-312.pyc
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/The Awesome Library Project.md
documents/My Awesome Library Project/Untitled.md
documents/My Awesome Library Project/.obsidian/2026-01-04.md
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/Untitled.md
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/The Awesome Library Project.md
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/graph.json
documents/My Awesome Library Project/.obsidian/page-preview.json
documents/My Awesome Library Project/.obsidian/Untitled.canvas
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/.obsidian/graph.json
documents/My Awesome Library Project/.obsidian/.obsidian/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/.obsidian/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/.obsidian/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/.obsidian/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/The Awesome Library Project.md
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/graph.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/graph.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/The Awesome Library Project.md
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/graph.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/ABOUT PROJECT - FROM AUTHOR.md
documents/My Awesome Library Project/ABOUT PROJECT - TECHNICAL AND PYTHONIC.md
documents/My Awesome Library Project/AI in program.md
documents/My Awesome Library Project/EXCEPTIONS.md
documents/My Awesome Library Project/MODULE - TEST.md
documents/My Awesome Library Project/MODULE I - DATABASE.md
database/book_json_file_service.py
documents/My Awesome Library Project/MODULE II - MODELS.md
documents/My Awesome Library Project/MODULE III - SERVICES.md
documents/My Awesome Library Project/MODULE IV - UTILS.md
documents/My Awesome Library Project/PROGRAM STRUCTURE.md
documents/My Awesome Library Project/The Awesome Library Project.md
documents/My Awesome Library Project/Untitled.base
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/The Awesome Library Project.md
documents/.obsidian/app.json
documents/.obsidian/appearance.json
documents/.obsidian/core-plugins.json
.gitignore
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/app.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/workspace.json
documents/My Awesome Library Project/.obsidian/core-plugins.json
documents/My Awesome Library Project/.obsidian/appearance.json
documents/My Awesome Library Project/.obsidian/app.json
.vscode/settings.json
__pycache__/exceptions.cpython-313.pyc
.gitignore
.gitignore
database/__pycache__/json_files_major_services.cpython-313.pyc
utils/__pycache__/config.cpython-313.pyc
.gitignore
tests/__pycache__/test_json_files_major_services.cpython-313.pyc
services/__pycache__/authorisation_service.cpython-313.pyc
models/__pycache__/user.cpython-313.pyc
database/__pycache__/database_schemes.cpython-313.pyc
database/__pycache__/__init__.cpython-313.pyc
.gitignore
models/__pycache__/__init__.cpython-313.pyc
services/__pycache__/__init__.cpython-313.pyc
utils/__pycache__/__init__.cpython-313.pyc
